.container {
    width: 800px;
    margin: 0 auto;
}

body {
    background-color: #e3e3e3;
}
p {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    text-align: justify;
}

li {
    font-size: 18px;
    margin: 10px;
}

.titulo {
    font-size: 30px;
    font-family: 'Vidaloka', serif;
    font-weight: bold;
}